.vim_mru_files
.vimfuzzyfinder
*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*.sw[po]
tags
*.html.php
*.svn/
.zsh.d/cdd_pwd_list*
.zsh.d/local.zshenv
.vim/bundle/*
.vimperator/info/default/*
.ruby-version
